



<div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="login">
          
  <h1>Admin login</h1>

         <div class="form-group">
          <label for="">Username</label>
          <input [(ngModel)]="email1" type="text" class="form-control">    
          </div>

          <div class="form-group">
               <label for="">Password</label>
                <input [(ngModel)]="password1" type="text" class="form-control">    
                </div>
            
<!--   
       <div class="form-group">
        Username
        <input [(ngModel)]="email1" type="text" name="email1"> 
        </div> -->
<!-- 
        <div class="form-group">
        Password 
        <input [(ngModel)]="password1" type="password" name="password1">      
        </div> -->

        <div class="form-group">
       <button (click)="onlogin()" class="btn btn-default">Login</button>     
        </div>
   </div>   
   </div>
   <div class="col-md-4"></div>
</div> 


        
  

 