
<br><br><br>
<h1>Admin Dashboard</h1>

<ul class="list-group-item">
       <a routerLink = "/login/dashboard/user" class="list-group-item">List Of MRS</a>          
       <a routerLink="/login/dashboard/drs" class="list-group-item">List Of Doctors </a>        
       <a routerLink = "/login/dashboard/product" class="list-group-item">Products</a>  
       <a routerLink = "/MRlogin/dashboard/orders" class="list-group-item">Orders</a> 
      <a routerLink="/login/dashboard/MRReport" class="list-group-item">MR's Reports</a>          
      <a routerLink="/login/dashboard/Report" class="list-group-item">Company Reports</a>      
</ul> 

<a> <button (click)="onlogout()" class="btn btn-warning">Logout</button> </a> 



