.navbar-brand{
    color:white
}

.hello{
    color:white
}

.dropdown-toggle{
    color:white;
}

a:hover{
    color:black;
}
/* 
#myid{
    position: fixed;
  top: 0;
  width: 100%
}

#myid + #page {
    padding-top: 102px;
  } */

  