

<!-- <admin-login>  </admin-login>
<login-page> </login-page>
<ul class="nav navbar-nav">
        <li><a routerLink="/user">Movies</a></li>

      </ul>
          
-->

<!--  <admin-login>  </admin-login>
<add_user></add_user>

-->

<!-- 
<nav class="navbar navbar-light" style="background-color: #e3eaf0;">
</nav> -->

<!-- <nav class="navbar navbar-dark bg-dark">
</nav> -->



 <nav  class="navbar navbar-dark bg-primary" style="background-color: #239bf1;height: 60px;">

 
  <form  class="form-inline">

      <ul class="nav navbar-nav">
          <li ><a class="hello" href="#">Home</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Category <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#1">allopathic</a></li>
              <li><a href="#2">homoeopathy</a></li>
              <li><a href="#3">ayurvedic</a></li>
            </ul>
          </li>

          
          <li (click)="onLogin()" *ngIf="!isLoggedIn"><a routerLink="/MRlogin" class="hello" href="#">Login & Signup</a></li>
          
          <li *ngIf="isLoggedIn" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">User Details <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#1">Profile</a></li>
              <li><a href="#2">Dashboard</a></li>
              <li><a (click)="onLogout()" href="#3">Logout</a></li>
            </ul>
          </li>

          <li ><a class="hello" a href="#">More</a></li>
          <li ><a class="hello" href="#">Cart</a></li>
          <li ><a routerLink="/login" class="hello" href="#">Admin</a></li>
        </ul>
     
    
    <a style="margin-left: 180px;margin-top:3px;font-size: medium" class="navbar-brand">@PrashantJBD</a>


    <input size="40" style="margin-top: 11px" class="form-control mr-sm-2" type="search" placeholder="Search for product" aria-label="search" >
    <button style="margin-top: 11px" class="btn btn-info" type="submit">Search</button>
  </form>

  
</nav>   
 
<!-- 
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
    </div>
  </nav>  -->
 

<router-outlet></router-outlet>  

