

 <nav id="myid" class="navbar navbar-dark bg-primary navbar-fixed-top" style="background-color: #239bf1;height: 60px;">

 
  <form id="page" class="form-inline">

      <ul class="nav navbar-nav">
          <li ><a class="hello" routerLink="MRlogin/home" href="">Home</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Category <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#1">allopathic</a></li>
              <li><a href="#2">homoeopathy</a></li>
              <li><a href="#3">ayurvedic</a></li>
            </ul>
          </li>

          
          <li (click)="onLogin()" *ngIf="!isLoggedIn"><a routerLink="/MRlogin" class="hello" href="#">Login & Signup</a></li>
          
          <li *ngIf="isLoggedIn" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">User Details <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#1">Profile</a></li>
              <li><a href="#2">Dashboard</a></li>
              <li><a (click)="onLogout()" href="#3">Logout</a></li>
            </ul>
          </li>

          <li ><a class="hello" a href="#">More</a></li>
          <li ><a class="hello" href="#">Cart</a></li>
          <li ><a routerLink="/login" class="hello" href="#">Admin</a></li>
        </ul>
     
    
    <a style="margin-left: 180px;margin-top:3px;font-size: medium" class="navbar-brand">@PrashantJBD</a>


    <input size="40" style="margin-top: 11px" class="form-control mr-sm-2" type="search" placeholder="Search for product" aria-label="search" >
    <button style="margin-top: 11px" class="btn btn-info" type="submit">Search</button>
  </form>

  
</nav>   
 







<router-outlet></router-outlet>  



