
<br><br><br>

<h1>Add User</h1>

<div class="col-md-3"></div>



<div class="row">


              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Username</label>
                  <input [(ngModel)]="username" type="text" class="form-control">
                </div>
              </div>
            
            
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">FirstName</label>
                  <input [(ngModel)]="firstname" type="text" class="form-control">        
              </div>
            </div>
            
</div>

<div class="col-md-3"></div>


<div class="row">

              <div class="col-md-3">
                <div class="form-group">
                  <label for="">LastName</label>
                  <input [(ngModel)]="lastname" type="text" class="form-control">
                </div>
              </div>
            
            
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">JoinDate</label>
                  <input [(ngModel)]="joindate" type="date" class="form-control">
            
                </div>
              </div>
            
            
            </div>
            
<div class="col-md-3"></div>
            


<div class="row">

              <div class="col-md-3">
                <div class="form-group">
                  <label for="">PhoneNo</label>
                  <input [(ngModel)]="phoneno" type="text" class="form-control">
                </div>
              </div>
            
            
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Email</label>
                  <input [(ngModel)]="email" type="text" class="form-control">
                </div>
              </div>
            
            </div>
            
            <div class="col-md-3"></div>
            
            <div class="row">
            
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Password</label>
                  <input [(ngModel)]="password" type="text" class="form-control">
                </div>
              </div>
            
            </div>
            
            <div class="col-md-3"></div>
            
            <div class="row">
              <div class="col-md-3">
                <button (click)="onadd()" class="btn btn-success">Add</button>
                <a style="margin-left: 10px;" routerLink="/login/dashboard/user" class="btn btn-danger">Cancel</a>
              </div>
            </div>

<!--             
<div class="form-group">
       Username
       <input [(ngModel)]="username" type="text" name="username"> <br> <br>
       FirstName
       <input [(ngModel)]="firstname" type="text" name="firstname"> <br> <br>
       LastName
       <input [(ngModel)]="lastname" type="text" name="lastname"> <br> <br>
       Joindate
       <input [(ngModel)]="joindate" type="text" name="joindate"> <br> <br>
       Phone No
       <input [(ngModel)]="phoneno" type="text" name="phoneno"> <br> <br>
       Email
       <input [(ngModel)]="email" type="email" name="email"> <br> <br>
       Password
       <input [(ngModel)]="password" type="password" name="password">  <br>


       <button (click) = "onadd()" class="btn btn-success" style="margin-right: 5px;" >Add</button>  <button (click)="back()" class="btn btn-danger" >Cancel</button>

       
       
</div>   -->



